#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --primary-color: #1d4ed8; /* Tailwind's blue-700 */
  --secondary-color: #3b82f6; /* Tailwind's blue-500 */
  --text-color: #1f2937; /* Tailwind's gray-800 */
  --bg-color: #f9fafb; /* Tailwind's gray-50 */
  --border-radius: 0.5rem;
}
h1 {
  background-color: var(--bg-color);
}
